Grocery_Panda/Grocery_Panda/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:31407/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:31407/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:31407/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GroceryPandaService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_RegisterAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isValidAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:isValidAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_isValidAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:isValidAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_adminChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:adminChangePassword" />
  </wsdl:message>
  <wsdl:message name="IService1_adminChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:adminChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registerUser_InputMessage">
    <wsdl:part name="parameters" element="tns:registerUser" />
  </wsdl:message>
  <wsdl:message name="IService1_registerUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_validUser_InputMessage">
    <wsdl:part name="parameters" element="tns:validUser" />
  </wsdl:message>
  <wsdl:message name="IService1_validUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:validUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_userChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:userChangePassword" />
  </wsdl:message>
  <wsdl:message name="IService1_userChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:userChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addstore_InputMessage">
    <wsdl:part name="parameters" element="tns:addstore" />
  </wsdl:message>
  <wsdl:message name="IService1_addstore_OutputMessage">
    <wsdl:part name="parameters" element="tns:addstoreResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_shoowstores_InputMessage">
    <wsdl:part name="parameters" element="tns:shoowstores" />
  </wsdl:message>
  <wsdl:message name="IService1_shoowstores_OutputMessage">
    <wsdl:part name="parameters" element="tns:shoowstoresResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addStoreProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:addStoreProducts" />
  </wsdl:message>
  <wsdl:message name="IService1_addStoreProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:addStoreProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteStore_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteStore" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getstore_InputMessage">
    <wsdl:part name="parameters" element="tns:getstore" />
  </wsdl:message>
  <wsdl:message name="IService1_getstore_OutputMessage">
    <wsdl:part name="parameters" element="tns:getstoreResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getproduct_InputMessage">
    <wsdl:part name="parameters" element="tns:getproduct" />
  </wsdl:message>
  <wsdl:message name="IService1_getproduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:getproductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getStoreProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:getStoreProducts" />
  </wsdl:message>
  <wsdl:message name="IService1_getStoreProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStoreProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:getProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_getProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_orderProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:orderProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_orderProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:orderProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:getPrice" />
  </wsdl:message>
  <wsdl:message name="IService1_getPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getOrderList_InputMessage">
    <wsdl:part name="parameters" element="tns:getOrderList" />
  </wsdl:message>
  <wsdl:message name="IService1_getOrderList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOrderListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addCustomerToStore_InputMessage">
    <wsdl:part name="parameters" element="tns:addCustomerToStore" />
  </wsdl:message>
  <wsdl:message name="IService1_addCustomerToStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCustomerToStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_clearCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:clearCustomer" />
  </wsdl:message>
  <wsdl:message name="IService1_clearCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:clearCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="RegisterAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterAdmin" message="tns:IService1_RegisterAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterAdminResponse" message="tns:IService1_RegisterAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isValidAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isValidAdmin" message="tns:IService1_isValidAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isValidAdminResponse" message="tns:IService1_isValidAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="adminChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/adminChangePassword" message="tns:IService1_adminChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/adminChangePasswordResponse" message="tns:IService1_adminChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registerUser" message="tns:IService1_registerUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerUserResponse" message="tns:IService1_registerUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="validUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/validUser" message="tns:IService1_validUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/validUserResponse" message="tns:IService1_validUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="userChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/userChangePassword" message="tns:IService1_userChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/userChangePasswordResponse" message="tns:IService1_userChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addstore">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addstore" message="tns:IService1_addstore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addstoreResponse" message="tns:IService1_addstore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="shoowstores">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/shoowstores" message="tns:IService1_shoowstores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/shoowstoresResponse" message="tns:IService1_shoowstores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addStoreProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addStoreProducts" message="tns:IService1_addStoreProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addStoreProductsResponse" message="tns:IService1_addStoreProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteStore">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteStore" message="tns:IService1_deleteStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteStoreResponse" message="tns:IService1_deleteStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getstore">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getstore" message="tns:IService1_getstore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getstoreResponse" message="tns:IService1_getstore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getproduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getproduct" message="tns:IService1_getproduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getproductResponse" message="tns:IService1_getproduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStoreProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getStoreProducts" message="tns:IService1_getStoreProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getStoreProductsResponse" message="tns:IService1_getStoreProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getProduct" message="tns:IService1_getProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getProductResponse" message="tns:IService1_getProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="orderProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/orderProduct" message="tns:IService1_orderProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/orderProductResponse" message="tns:IService1_orderProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPrice" message="tns:IService1_getPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPriceResponse" message="tns:IService1_getPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOrderList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getOrderList" message="tns:IService1_getOrderList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getOrderListResponse" message="tns:IService1_getOrderList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addCustomerToStore">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addCustomerToStore" message="tns:IService1_addCustomerToStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addCustomerToStoreResponse" message="tns:IService1_addCustomerToStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="clearCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/clearCustomer" message="tns:IService1_clearCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/clearCustomerResponse" message="tns:IService1_clearCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/RegisterAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isValidAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/isValidAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adminChangePassword">
      <soap:operation soapAction="http://tempuri.org/IService1/adminChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <soap:operation soapAction="http://tempuri.org/IService1/registerUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validUser">
      <soap:operation soapAction="http://tempuri.org/IService1/validUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userChangePassword">
      <soap:operation soapAction="http://tempuri.org/IService1/userChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addstore">
      <soap:operation soapAction="http://tempuri.org/IService1/addstore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shoowstores">
      <soap:operation soapAction="http://tempuri.org/IService1/shoowstores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStoreProducts">
      <soap:operation soapAction="http://tempuri.org/IService1/addStoreProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteStore">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getstore">
      <soap:operation soapAction="http://tempuri.org/IService1/getstore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getproduct">
      <soap:operation soapAction="http://tempuri.org/IService1/getproduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStoreProducts">
      <soap:operation soapAction="http://tempuri.org/IService1/getStoreProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/getProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/orderProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrice">
      <soap:operation soapAction="http://tempuri.org/IService1/getPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrderList">
      <soap:operation soapAction="http://tempuri.org/IService1/getOrderList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCustomerToStore">
      <soap:operation soapAction="http://tempuri.org/IService1/addCustomerToStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearCustomer">
      <soap:operation soapAction="http://tempuri.org/IService1/clearCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:31407/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>